body { width: 42em; margin: 2em; }
h4 { padding-left: 0.5em; }

.menu { list-style-type: none; }
.menu > li { padding-left: 1em; display: inline-block; }

.talk-list, .talk, .event-list, .event
{ padding-left: 0; list-style-type: none; }

.event-list
{ padding-left: 1em; }

.event-list > li { margin-top: 0.3em; }

.talk-list > li { margin-top: 1em; }
.talk-list > li :first-child { margin-top: 0; }

ul.list { list-style-type: circle; }
ul.noitem { list-style-type: none; }
